@charset 'utf-8';

body{
    background:linear-gradient(limegreen, red);
}

.some-class{
    color:orangered;
    transform:rotate(180deg);
    font-style:italic;
}

.another-class{
    color:green;
}