
@charset 'utf-8';

body{
    background-color:rgb(253, 253, 253);
}
/* This makes the two big elementa (listHolder and main) to become flex */
.superduperthanosfuckingquantommonsterWrapper{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'aside main main . '
    'aside main main . '
    'aside article article article'
    'footer footer footer footer';
}

/********** ↓ LOGO ↓ ***********/
h1{
    display: flex;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    justify-content: center;
}

/********** ↑ LOGO ↑ ***********/


/********** ↓ MAIN CONTENT ↓ ***********/
.main{
    grid-area: main;
    width: 1fr 1fr;
    background-color:rgb(155, 154, 154);
    padding: 5px;
    height: 300px;
}

.main h2{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;    
    color:#eee;
}

.main p{
    font-family: Proxima N W01 Reg,sans-serif;
    color:#eee;
}

.main button{
    
    display:block;
    border:none;
    font-size: 20px;
    padding: 10px;
    background-color:#d47724;
    transition: 0.5s;
    margin:auto;
    color:#eee;    

}

.main button:hover{
    transform:scale(1.3);
    background-color:#eee;
    color:#d47724; 
}
/********** ↑ MAIN CONTENT ↑ ***********/


/********** ↓ THE LIST ↓ ***********/

.listHolder{
    display: grid;
    grid-area: aside;
    width: 1fr;
    background-color:#d47724;
    max-height: 600px;
}

.listHolder h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#eee;
    padding:0px;
    margin:0px;
    height: max-content;
    
}

li{
    list-style: none;
    padding: 3px;
    font-size:30px;
    color: white;
    width: auto;
}
ul{
padding:0px;
}
li:nth-child(odd){
    background-color:#bd6921;
}

/********** ↑ THE LIST ↑ ***********/

article{
    display:flex;
    flex-flow: column;
    
}
article section{
    padding: 10px;
    margin:5px;
    width: 50%;
    background-color: rgba(119, 136, 153, 0.514);
}

.right-information{
    grid-area: article;

}


.left-information{
    margin-left:40%;
    background-color:rgba(148, 169, 189, 0.527); 
}

footer{
    grid-area: footer;
    height: auto;
    font-size: 50px;
    color:rgb(155, 154, 154);
}